.status-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7vw;
    margin-right: 10vw;
    padding-top: 2vh;
}

.status-bar .time{
    font-size: 1.4em;
    font-weight:bold;
}

.status-icon img{
    width: 5vw;
    height: 3vh;
    margin-left: 1vw;
}

.status-icon .battery{
    width: 7vw;
}

.menu-bar {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 5vw;
    height: 10vw;
}

.menu-bar h2{
    font-size: 2em;
    font-weight: 500;
}

.menu-icon{
    display: flex;
    float: right;
    gap: 4vw;
}

.search {
    background: url(../images/search.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}

.add-friend{
    background: url(../images/user-blank.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
    
}

.setting {
   background-image: url(../images/settings.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}
