.my-profile {
    padding-bottom: 2vw;
}


.my-profile a{
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #DDD;
}

.george-profile {
    background-image: url(../images/avatar.png);
    background-size: cover;
    width: 16vw;
    height: 16vw;
    border-radius: 40%;
    margin-left: 1em;
   
}

.my-profile p{
    margin-left: 0.5em;
    font-size: 4.5vw;
    font-weight: 700;
    color: black;
    
}

.friends {
    padding: 2vw 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.friends h2{
    font-weight: 400;
}

.friends img{
    background-size: cover;
    width: 3.5vw;
    height: 2vw;
}

.friends-profile img{
    border-radius: 40%;
    width: 14vw;
    height: 14vw;
    margin-left: 1em;
}


.friends-profile li a{
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.friends-profile li p {
    font-size: 4vw;
    margin-left: 3vw;
    color: black;
}
